.partner-detail-item {
  display: flex;
  gap: 0.5rem;
}

.partner-detail-item-key {
  /* font-weight: bold; */
}
.partner-detail-item-value {
  /* margin-left: 0.5rem; */
  color: rgba(0, 0, 0, 0.6);
}
