.payment-list-container {
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 0.8rem;
}

.MuiPaginationItem-root {
  color: var(--color-primary) !important;
}

.MuiPagination-ul {
  background-color: white !important;
  padding: 0.3rem !important;
  border-radius: var(--border-radius) !important;
}

.MuiPaginationItem-root.Mui-selected {
  background-color: var(--backgorund-secondary) !important;
}
