.item-title {
  width: 60%;
}

.item-quantity {
  width: 20%;
  text-align: end;
  padding-right: 1rem;
}

.item-price {
  width: 20%;
  text-align: end;
  padding-right: 1rem;
}

.item-total {
  font-weight: bold;
}
