.paper-container {
  border-radius: var(--border-radius) !important;
  color: var(--color-primary) !important;
  overflow: hidden;
  margin-bottom: 0.75rem !important;
  padding: 1rem;
}

.chip-container {
  background-color: var(--backgorund-secondary) !important;
  color: var(--color-primary) !important;
  margin-left: 0.4rem;
  /* font-weight: bold; */
}

.filters-footer {
  margin-top: 1rem;
}

.select-button {
  color: var(--color-primary) !important;
  /* padding: 0; */
}

.icon-button {
  color: var(--color-primary) !important;
  min-width: 0 !important;
  border-radius: 5rem !important;
  /* padding: 0; */
}

.apply-filter {
  justify-content: center !important;
  color: var(--color-primary) !important;
  background-color: transparent !important;
}

.checkbox-filter {
  color: var(--color-primary) !important;
}
