.accordion-title {
  background-color: var(--backgorund-secondary) !important;
}

.header-title {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  /* font-weight: bold; */
  overflow-wrap: anywhere;
}

.paper-container-detail {
  border-radius: var(--border-radius) !important;
  color: var(--color-primary) !important;
  overflow: hidden;
  margin-bottom: 0 !important;
  padding: 1rem;
}

.go-back {
  align-self: baseline;
}
