.accordion-container {
  border-radius: 0.8rem !important;
  overflow: hidden !important;
  color: var(--color-primary) !important;
}

.accordion-title-acc {
  background-color: var(--backgorund-secondary);
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.accordion-title-acc-error {
  color: var(--color-error) !important;
  background-color: var(--background-error) !important;
}

.accordion-title-acc-success {
  color: var(--color-success) !important;
  background-color: var(--background-success) !important;
}
