::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
#root,
.App,
body {
  height: 100%;
}

:root {
  --color-primary: #009ee3;
  --color-success: #2fa84f;
  --color-error: #b30000;
  --color-info: #7b1fa2;
  --color-warn: #ffa63a;
  --color-default: #5e5e63;

  --background-success: #dcf7e3;
  --background-error: #ffe5e5;
  --background-info: #fbd8ff;
  --background-primary: #dddddd;
  --background-secondary: #e5f7ff;
  --background-warn: #ffeed6;
  --background-default: #e9e9ea;
  --border-radius: 0.8rem;
}

body {
  /* font-family: "Proxima Nova Regular" !important; */
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}
